@mixin mq-down($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

$breakpoint: (md: 'screen and (max-width: 600px)',
);
$base-width:960px;


.l-section {
    padding: 80px 0 100px;

    .l-inner {
        margin: 0 auto;
        width: min(calc(100% - 80px), $base-width);

        @include mq-down(md) {
            min-width: 0;
            width: calc(100% - 30px);
        }

        .sectionTitle {
            margin-bottom: 60px;
            text-align: center;

            h2 {
                font-size: 32px;
                font-weight: bold;
                display: inline-block;
                border-bottom: 1px solid #383E45;
            }

        }
    }

    +.l-section {
        padding: 0 0 110px;

    }
}




.header {
    &__inner {
        padding: 10px 50px;
        margin: 0 auto;
        max-width: $base-width;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mq-down(md) {
            padding: 10px 15px;
        }

        h1 {
            height: 40px;
            width: 120px;
        }

        nav {
            ul {
                display: flex;

                li {
                    a {
                        font-size: 14.4px;
                        color: #24292E;
                        text-decoration: none;
                    }

                    +li {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

.fv {
    height: 600px;
}

.about {
    $this: &;
    &__profile {
        max-width: 528px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        @include mq-down(md) {
            flex-direction: column;
            max-width: 100%;
        }

        #{$this}__img {
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            border-radius: 50%;
            overflow: hidden;

            + #{$this}__text {
                margin-left: 30px;

                @include mq-down(md) {
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }

        #{$this}__text {
            >div {
                font-weight: bold;
                margin-bottom: 10px;
            }

            p {
                font-size: 14.4px;
            }
        }
    }
}

.bicycle {
    &__items {
        display: grid;
        max-width: 857.6px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 17.2px;

        @include mq-down(md) {
            grid-template-columns: auto;
            gap: 30px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__thumb {
                margin-bottom: 8px;
            }

            &__title {
                font-weight: bold;
                margin-bottom: 8px;
            }

            &__text {
                font-size: 14.4px;
            }

        }
    }
}

.footer {
    text-align: center;

    small {
        font-size: 8px;
    }
}